<div class="container">
<!-- <router-outlet></router-outlet> -->
<h3> Order Header </h3>
<div class="row">
  <table class="table">
      <thead>
            <tr>
              <th>Order Id</th>
              <th>Basket Id</th>
              <th>DateTime</th>
              <th>Customer Id</th>
              <th>Organisation Customer Id</th>
              <th>Seller</th>
              <th>Product Id</th>
              <th>Product Type</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{data.OrderHeader.OrderId}}</td>
            <td>{{data.OrderHeader.BasketId}}</td>
            <td>{{data.OrderHeader.DateTime | date}}</td>
            <td>{{data.OrderHeader.CustomerId}}</td>
            <td>{{data.OrderHeader.OrganisationCustomerId}}</td>
            <td>{{data.OrderHeader.Seller}}</td>
            <td>{{data.OrderHeader.ProductId}}</td>
            <td>{{data.OrderHeader.ProductType}}</td>
          </tr>
        </tbody>
    </table>
</div>

<h3> Order Lines</h3>
<div class="row">
  <table class="table">
      <thead>
            <tr>
              <th>Order Line Id</th>
              <th>Inventory Type</th>
              <th>Price Id</th>
              <th>Sheet Id</th>
              <th>Offer code</th>
              <th>Price</th>
              <th>Gst</th>
              <th>GstRate</th>
            </tr>
        </thead>
        <tbody>
          <tr class="active" *ngFor="let orderline of data.OrderLines">
            <td>{{orderline.OrderLineId}}</td>
            <td>{{orderline.InventoryType}}</td>
            <td>{{orderline.PriceId}}</td>
            <td>{{orderline.SheetId}}</td>
            <td>{{orderline.OfferCode}}</td>
            <td>{{orderline.Price}}</td>
            <td>{{orderline.Gst}}</td>
            <td>{{orderline.GstRate}}</td>
          </tr>
        </tbody>
    </table>
</div>

<h3> Package Lines</h3>
<div class="row">
  <table class="table">
      <thead>
            <tr>
              <th>Price Category Id</th>
              <th>Price Category Code</th>
              <th>Price Type Id</th>
              <th>Price Type Code</th>
              <th>Price Type Name</th>
              <th>Section</th>
              <th>Row</th>
              <th>Name</th>
              <th>Barcode</th>
            </tr>
        </thead>
        <tbody>
          <tr class="active" *ngFor="let packageline of data.PackageLines">
            <td>{{packageline.PriceCategoryId}}</td>
            <td>{{packageline.PriceCategoryCode}}</td>
            <td>{{packageline.PriceTypeId}}</td>
            <td>{{packageline.PriceTypeCode}}</td>
            <td>{{packageline.PriceTypeName}}</td>
            <td>{{packageline.Section}}</td>
            <td>{{packageline.Row}}</td>
            <td>{{packageline.Name}}</td>
            <td>{{packageline.Barcode}}</td>
          </tr>
        </tbody>
    </table>
</div>

</div>